.home__container {
  position: relative;
  row-gap: 4.5rem;
  padding-top: 2rem;
}

.home__data {
  text-align: center;

  .home__greeting,
  .home__education {
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
  }

  .home__greeting {
    display: block;
    color: var(--title-color);
    margin-bottom: .25rem;
  }

  .home__education {
    color: var(--text-color);
    margin-bottom: 2.5rem;
  }

  .home__name {
    font-size: var(--biggest-font-size);
  }
}

.home__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;

  .button {
    display: inline-block;
    background-color: var(--first-color);
    color: var(--body-color);
    padding: .75rem 1rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
    transform: .4s;

    &:hover {
      background-color: var(--first-color-alt);
      color: var(--body-color);
    }
  }

  .button--ghost {
    background-color: transparent;
    border: 2px solid var(--first-color);
    color: var(--first-color);
  }
}

.home__handle {
  justify-self: center;
  width: 190px;
  height: 293px;
  background: linear-gradient(180deg,
      hsla(var(--first-hue), var(--sat), var(--lig), 1),
      hsla(var(--first-hue), var(--sat), var(--lig), .2));
  border-radius: 10rem 10rem 1rem 1rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;

  img {
    width: auto;
  }
}

.home__social, .home__scroll{
  position: absolute;
}

.home__social {
  bottom: 5rem;
  left: 0;
  display: grid;
  row-gap: .5rem;

  a {
    width: max-content;
    background-color: var(--container-color);
    color: var(--first-color);
    padding: .25rem;
    border-radius: .25rem;
    display: flex;
    font-size: 1rem;
    transform: .4s;

    &:hover {
      background-color: var(--first-color);
      color: #fff;
    }
  }

  &::after{
    content: "";
    width: 32px;
    height: 2px;
    background-color: var(--first-color);
    transform: rotate(90deg) translate(16px, 3px);
  }
}

.home__scroll {
  color: var(--first-color);
  right: -1.5rem;
  bottom: 4rem;
  display: grid;
  row-gap: 2.25rem;
  justify-items: center;

  .home__scroll-icon {
    font-size: 1.25rem;
  }

  .home__scroll-name {
    font-size: var(--smaller-font-size);
    transform: rotate(-90deg);
  }
}
