.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--body-color);
  z-index: var(--z-fixed);
  transition: .4s;
  /* for light mode animation */
}

.nav__container {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  margin: 0 1rem;
}

.nav__logo {
  color: var(--first-color);
  font-weight: var(--font-medium);
  transition: .4s;
}

.nav__change-theme {
  font-size: 1.25rem;
  cursor: pointer;
  transition: .3s;

  &:hover{
    color: var(--first-color);
  }
}

/* Change background header */
.scroll-header {
  box-shadow: 0 4px 4px hsla(0, 0%, 4%, .3);
}

@media screen and (min-width: 992px) {
  .nav__container {
    height: calc(var(--header-height) + 1rem);
  }
}
