.work__filters {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: .75rem;
  margin-bottom: 2rem;

  span {
    cursor: pointer;
    color: var(--title-color);
    padding: .25rem .75rem;
    font-weight: var(--font-medium);
    border-radius: .5rem;
  }

  .active-work {
    background-color: var(--first-color);
    color: var(--body-color);
  }
}

.work__container {
  padding-top: 1rem;

  .work__card {
    background-color: var(--container-color);
    padding: 1rem;
    border-radius: 1rem;

    img {
      border-radius: 1rem;
      margin-bottom: .75rem;
    }

    h3 {
      font-size: var(--normal-font-size);
      font-weight: var(--font-medium);
      margin-bottom: .25rem;
    }

    a {
      width: max-content;
      color: var(--first-color);
      font-size: var(--small-font-size);
      display: flex;
      align-items: center;
      column-gap: .25rem;

      .icon {
        font-size: 1rem;
        transition: .4s;
      }

      &:hover .icon {
        transform: translateX(.25rem);
      }
    }
  }
}
